# macOS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# Large Media Files (Video)
*.mp4
*.avi
*.mkv

# Ignore Raw Datasets (Terlalu besar untuk GitHub)
truck-detector-feedmill/
truck-detector-training/

# Allow specific image assets (tapi blokir gambar di luar static)
*.jpg
*.png
!static/img/*.jpg
!static/img/*.png
!*.pt
!*.onnx
!*.weights

# Ignore previous temp / debug outputs
output/
debug/
